<h1>Artist FormView</h1>

<% if @artist.errors.any? %>
        <h5 class="error"><%= @artist.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_for @artist do |f| %>
    <%= f.label :name, "Artist Name" %>
    <%= f.text_field :name %><br><br>
    <%= f.submit %>
<% end %>