<h1>Show Artist View</h1>

<h2>Artist: <%= @artist.name %></h2>

<h3>The next step will be to add the vinyl name!</h3><br>

<%= link_to "Add Vinyl", new_artist_vinyl_path(@artist) %><br><br>

<%= link_to "Edit Artists", edit_artist_path %><br>
<%= link_to "Delete Artists", artist_path, method: 'delete' %><br>
<%= link_to "All Artists", artists_path %><br>

