<h2>Artist: <%= @artist.name %></h2>

<h3>Vinyls:</h3>
<ul>
    <% @artist.vinyls.each do |vinyl| %>
        <%= vinly.title %>
    <% end %>
</ul>


<%= link_to "Add Vinyl", new_artist_vinyl_path(@artist) %><br><br>

<%= link_to "Edit Artists", edit_artist_path %><br>
<%= link_to "Delete Artists", artist_path, method: 'delete' %><br>
<%= link_to "All Artists", artists_path %><br>

<h5>Show Artist View</h5>