<h1><%= @artist.name %>'s Vinyl Name</h1>

<% if @vinyl.errors.any? %>
        <h5 class="error"><%= @vinyl.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_with model: [@artist, @vinyl], local: true do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :vinyl_size %>
    <%= f.select :vinyl_size, [12, 7] %>

    <%= f.submit %>
<% end %>

<h5>Vinyl Form View</h5>