<h1>New Vinyl View</h1>

<%= form_for @vinyl do |f| %>
    <%= f.hidden_field :user_id %>

    <%= f.hidden_field :artist_id, value: @artist.id %>

    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :vinyl_size %>
    <%= f.number_field :vinyl_size %><br><br>


    <%= f.submit "Add Artist to Vinyl" %>
<% end %>