<h1>Index Song View</h1>
<h1><%= @vinyl.title %></h1>
<ul>
<% @songs.each do |song| %>
 <li> <%= link_to song.title, song_path(song) %> - <%= song.duration / 60 %>:<% if song.duration % 60 < 10 %>0<%= song.duration % 60 %><br><br>
    <% else %><%= song.duration % 60 %><br><br>
    <% end %></li>
<% end %></li>
</ul>

<p>Longest Song: <%= @long_song.first.title %> - <%= @long_song.first.duration / 60 %>:<% if @long_song.first.duration % 60 < 10 %>0<%= @long_song.first.duration % 60 %><br><br>
    <% else %><%= @long_song.first.duration % 60 %><br><br>
    <% end %></p>

<%= link_to '<button type="button">Add Song to Vinyl</button>'.html_safe, new_vinyl_song_path %><br><br>

<%= link_to '<button type="button">View my Collection</button>'.html_safe, vinyls_path %><br><br>