<h1><%= @song.title %></h1>

<h3>
Song Duration: <%= @song.duration / 60 %>:<% if @song.duration % 60 < 10 %>0<%= @song.duration % 60 %><br><br>
<% else %><%= @song.duration % 60 %><br><br>
<% end %>
Vinyl Name: <%= @song.vinyl.title %><br>
Artist Name: <%= @song.artist.name %>
</h3>

<%= link_to '<button type="button">Edit Song</button>'.html_safe, edit_song_path %><br><br>

<%= link_to '<button type="button">Delete Song</button>'.html_safe, song_path, method: 'delete' %><br><br>

<%= link_to '<button type="button">Back to This Vinyl</button>'.html_safe, vinyl_songs_path(@song.vinyl_id) %><br><br>

<%= link_to '<button type="button">View my Collection</button>'.html_safe, vinyls_path %><br><br>

<h5>Show Song View</h5>