<h1>HOME!</h1>

<%= form_for @vinyl do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :vinyl_size %>
    <%= f.number_field :vinyl_size %><br><br>


    <%= f.submit "New Vinyl" %>
<% end %>


<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
<%= link_to "View Vinyls", vinyls_path %>